* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  margin-bottom: 100px
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


#track_image {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

input{
  width: 80%;
  margin: auto;
}

.athlete_name {
  background-color: rgb(3, 26, 232);
  padding-left: 10px;
  border-radius: 10px 0 10px 0;
  color: white
}

.show_all {
  background-color: gray;
  padding-left: 10px;
  border-radius: 10px 0 10px 0;
  border-color: rgb(3, 26, 232);
  color: white
}

.show_all:hover{
  font-weight: 900;
  cursor: pointer;
}

.athlete_card {
  background-color: lightgray;
  border-radius: 10px 0 10px 0;
}

.athlete_id{
  margin-top: -15px
}

.athlete_age {
  margin: -15px 0 0 0;
}

.athlete_name:hover {
  font-weight: 900;
  color: rgb(65, 165, 247);
  cursor: pointer;
}

.athlete_edit_button {
  float: left;
  width: 30px;
  height: 30px;
  background-color: white;
  margin: 10px 0 10px 0;
}

.athlete_delete_button {
  width: 30px;
  height: 30px;
  background-color: white;
  margin: 10px 0 10px 0;
}

.athlete_details {
  padding: -30px 0 -30px 0;
  margin-left: 10px;
  font-size: large;
}

#workout_list {
  float: left;
  position: absolute;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  
}

.athlete_count {
  float: left;
  width: 25%;
}

.workout_log_button {
  float:left;
  width: 30%;
  margin: 15px 10% 50px 10%;
}

.workout_average_rating {
  float: left;
  width: 25%;
}

#comment_container {
  background-color: rgb(70, 69, 69);
  color: white;
  padding: 10px;
  margin: 75px 20px 0 20px;
  border-radius: 10px;
}

#comment {
  background-color: rgb(171, 171, 171);
  color: black;
  margin: 10px;
  padding: 10px 0 10px 0;
  border-radius: 15px;
}

form {
  box-sizing: border-box;
}

input {
  width: 90%;
  max-width: 40rem;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin: 8px auto;
  display: block;
}

textarea{
  width: 90%;

}

label {
  padding: 8px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: rgb(94, 126, 211);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 50%;
}

input[type=submit]:hover {
  background-color: rgb(3, 26, 232);
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

.patch_athlete {
  width: 75%;
  
}

.react-calendar {
  margin: 20px auto;
}

#long_run {
  background: linear-gradient(45deg, rgb(236, 147, 83), rgb(240, 107, 12) 35% 100%);
}

#long_run:hover {
  background: linear-gradient(235deg, rgb(236, 147, 83), rgb(240, 107, 12) 35% 100%);
}

#interval {
  background: linear-gradient(45deg, rgb(230, 120, 108), rgb(235, 51, 31) 35% 100%);
}

#interval:hover {
  background: linear-gradient(235deg, rgb(230, 120, 108), rgb(235, 51, 31) 35% 100%);
}

#recovery {
  background: linear-gradient(45deg, rgb(97, 135, 189), rgb(23, 96, 199) 35% 100%);
}

#recovery:hover {
  background: linear-gradient(235deg,  rgb(97, 135, 189), rgb(23, 96, 199) 35% 100%);
}

#race {
  background: linear-gradient(45deg, rgb(72, 138, 77), rgb(4, 114, 13) 35% 100%);
}

#race:hover {
  background: linear-gradient(235deg,  rgb(72, 138, 77), rgb(4, 114, 13) 35% 100%);
}

#rest {
  background: linear-gradient(45deg,  rgb(121, 84, 163), rgb(82, 11, 163) 35% 100%);
}

#rest:hover {
  background: linear-gradient(235deg,  rgb(121, 84, 163), rgb(82, 11, 163) 35% 100%);
}

#tempo {
  background: linear-gradient(45deg, rgb(252, 201, 15), rgb(227, 197, 61) 35% 100%);
}

#tempo:hover {
  background: linear-gradient(235deg, rgb(252, 201, 15), rgb(227, 197, 61) 35% 100%);
}

.interval_form_entry {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 20px 10%;
}

.interval_form_entry_item {
  margin: 0 8px
}

#qty_input {
  width: 35px
}

.distance_or_duration_form{
  width: 4rem;
  margin: auto
}

.workout-card-detail__athlete {
  display: flex;
  align-items: top;
  justify-content: center;
}

.checkbox {
  width: 1rem;
}

@media (min-width: 40rem) {


  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
  
  .workout-highlighted_web{
    display: block;
  }

}