.workout_card {
    color: white;
    border-radius: 10px;
    width: 70%;
    margin: 1rem auto 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
  }
  
  .workout_card_header{
    display: flex;
    flex-direction: row;
    align-items: left;
    width: 9em;
    margin: 0 0 20px 10px;
    border-bottom: solid 2px;
    padding: 0;
  }
  
  .workout_date {
   font-size: 5rem;
   margin: 10px -40px 5px 0
  }
  
  .workout_month {
    transform: rotate(90deg);
    font-size: 2rem;
    margin: 10px 0 0 0;
  }

.workout_year{
    display: flex;
    justify-content: flex-end;
    margin: 70px 10px 10px 0;
    padding-bottom: 10px
  }
  
  
  .workout_type {
    color: white
  }